html {
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-item {
  background-color: grey;
  height: 20vh;
  border: 1px solid red;
}
.main-item {
  background-color: darkgrey;
  border: 1px solid red;
  flex-grow: 1;
}
.footer-item {
  background-color: yellow;
  height: 15vh;
  border: 1px solid red;
}
