// fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;
$font-paragraph: "Roboto Condensed", sans-serif;
$font-size: 18px;

// colors
$color-light: #ffffff;
$color-light-background: #eff9ff;
$color-light-text: #8ccbea;
$color-dark-background: #304268;
$color-dark: #000000;
$color-medium: #0271bc;
$color-secondary-tex: #4a4a4a;
$seconday-light: #eff9ff;
$color-button: #f26002;
