:root {
  /*Escribe aquí tu código*/
  --title-color: grey;
  --link-color: green;
  --title-margin: 0;
}

body {
  margin: 0;
}

header {
  background-color: #eaeaea;
  padding: 20px;
}

main {
  padding: 20px;
}

p {
  width: 50%;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.title {
  color: var(--title-color);
  /* color: grey; */
  margin: var(--title-margin);
  margin: 0;
}

.subtitle {
  color: var(--title-color);
  /* color: grey; */
  margin: var(--title-margin);
  /* margin: 0; */
}

.menu li {
  display: inline;
}

.menu a {
  color: var(--link-color);
  /* color: green; */
  text-decoration: none;
}

p a {
  color: var(--link-color);
  /* color: green; */
}
