* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #faf5d1;
  text-transform: uppercase;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.header {
  background-color: #ffc0cb;
  grid-column: 1 / 5;
  /* text-align: center; */
  /* align-self: center;
  justify-self: center; */
}

.menu {
  background-color: #4b0082;
  grid-column: 1 / 3;
}

.content {
  background-color: #cd5b5b;
  grid-column: 3 / 5;
}

.footer {
  background-color: #acd8e5;
  grid-column: 1 / 5;
}
