<footer class="page__footer">
  <div class="content-button-up">
    <a class="scroll-button-up" href="#header-top"> </a>
  </div>
  <div class="content-div-footer">
    <!-- NAVIGATION -->
    <div class="content-footer">
      <nav>
        <ul>
          <li>
            <a target="_blank" href="https://adalab.es/" title="Ir a Articles">Articles</a>
          </li>
          <li>
            <a target="_blank" href="https://adalab.es/" title="Ir a Books">Books</a>
          </li>
          <li>
            <a target="_blank" href="https://adalab.es/" title="Ir a Events">Events</a>
          </li>
          <li>
            <a target="_blank" href="https://adalab.es/" title="Ir a Reasons">Reasons</a>
          </li>
          <li>
            <a target="_blank" href="https://adalab.es/" title="Ir a Tips">Tips</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="content-footer">
      <!-- SOCIAL MEDIA -->
      <nav>
        <ul>
          <li>
            <a target="_blank" href="https://adalab.es/" title="Ir a Twitter">Twitter</a>
          </li>
          <li>
            <a target="_blank" href="https://adalab.es/" title="Ir a Instagram">Instagram</a>
          </li>
          <li>
            <a target="_blank" href="https://adalab.es/" title="Ir a Mastodom social"
            >Mastodom social</a>
          </li>
      </nav>
    </div>
    <div class="footer__copyright">
      <span >©2017</span>
      <span >we <i class="fas fa-heart"></i> components</span>
  </div>
</div>
</footer>
