<header>
  <!-- BURGER MENU -->

  <a
    class="burger-menu"
    target="_blank"
    href="http://adalab.es"
    title="Ir a la web de Adalab"
    alt="Link a Adalab"
  >
  </a>

  <!-- HERO -->

  <div class="hero-copy">
    <h1 class="hero-h1">
      <span>Anonymys</span>
      <span>proxy</span>
    </h1>
    <p>In hac habitasse platea dictumst.</p>

    <a
      name="header-top"
      class="scroll-button"
      href="#reasons-purchase"
      title="Scroll down"
      alt="Scroll down"
    >
    </a>
  </div>
</header>
