<main>
  <section class="page__main">
    <!-- SECTION TIPS -->
    <article class="section-tips">
      <small>Insomnia tips</small>
      <h2 class="section-title">Looking Through A Window</h2>
      <p>
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <a class="tips-button"> GO </a>
    </article>
  </section>
  <!-- SECTION REASONS -->
  <section class="section-reasons">
    <article class="article-reasons">
      <div>
        <h2>3 reason to purchase</h2>
      </div>
      <div class="tips">
        <h3>Ut sed metus</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
      <div class="tips">
        <h3>Curabitur ac erat</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
      <div class="tips">
        <h3>Morbi</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur.
        </p>
      </div>
      <div class="content-reasons-button">
        <a class="reasons-button" name="reasons-purchase"> More reasons</a>
      </div>
    </article>
  </section>
</main>
