.page__footer {
  width: 100vw;
  padding: 0px;
  background-color: $color-dark-background;
  margin: 0;
  padding-bottom: 30px;

  //CONTENT-BUTTON-UP

  .content-button-up {
    margin: -22.5px auto 30px auto;
    float: left;
    text-align: center;
    width: 100vw;
    height: 45px;

    // SCROLL-BUTTON-UP

    .scroll-button-up {
      width: 45px;
      height: 45px;
      display: block;
      background-color: $color-light;
      border-radius: 50%;
      background-image: url("../images/ico-arrow.svg");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      box-shadow: 0 2px 4px 0 black;
      margin: 0 auto 0 auto;
      transition-duration: 0.3s;
    }

    // TRANSITION

    .scroll-button-up:hover {
      width: 55px;
      height: 55px;
      box-shadow: 0 4px 16px 0 $color-button;
      margin: 0 auto 0 auto;
    }
  }

  .content-div-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    .content-footer nav {
      color: $color-light;
      text-transform: uppercase;
      margin-top: 30px;

      ul,
      li,
      a {
        font-family: $font-main;
        text-decoration: none;
        list-style-type: none;
        padding: 0;
        margin: 16px 0 0 0;
        color: $color-light;
        text-align: center;
        font-size: 16px;
      }
    }

    // ANIMATION

    .footer__copyright {
      font-family: $font-main;
      color: $color-light;
      font-size: 14px;
      text-align: center;
      margin-top: 30px;

      span {
        display: block;
        line-height: 2.14;
        .fa-heart {
          color: $color-button;
        }
      }

      span:hover .fa-heart {
        animation: rotate 4s;
        animation-iteration-count: 1;
      }

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }

    // TABLET AND DESKTOP VIEW

    @media all and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      .footer__copyright {
        order: -1;
        width: 210px;
      }

      .content-footer {
        width: 210px;
      }
    }
  }
}
