* {
  margin: 1rem;
  padding: 0.5rem;
}

body {
  background-color: blanchedalmond;
}

.title {
  color: cadetblue;
}

.light-background {
  background-color: blanchedalmond;
  color: brown;
}

.dark-background {
  background-color: brown;
  color: blanchedalmond;
}
