@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 1rem;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
