main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;
  background-color: ($light-color);
  color: ($primary-color);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

.main-title span {
  display: block;
  text-align: center;
  font-weight: 700;
}
