:root {
  --primary-font: 'Montserrat', sans-serif;
  --primary-color: #cc212a;
  --light-color: white;
  --dark-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--primary-font);
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;
  background-color: var(--light-color);
  color: var(--primary-color);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

.main-title span {
  display: block;
  text-align: center;
  font-weight: 700;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: 300;
}

.footer-letter {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .wrapper {
  padding-top: 40px;
}
